.header-sect {
  align-items: center;
  background-color: var(--blue);
  box-shadow: 0 0 20px var(--gray2);
  color: white;
  display: flex;
  font-size: 2rem;
  height: 15%;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-sect img {
  border-radius: 50%;
  height: 70%;
  width: auto;
}

.header-score {
  margin-right: 20px;
}
