:root {

  --dark-green: rgb(3, 107, 82);

  --trybe-green: #0fa36b;

  --light-green: rgb(47, 193, 140);

  --dark-purple: rgb(65, 25, 127);

  --light-purple: rgb(137, 88, 163);

  --lighter-blue: rgb(2, 162, 255);

  --light-blue: rgb(1, 137, 215);

  --dark-blue: rgb(0, 109, 251);

  --blue: rgb(1, 56, 87);

  --light-gray: rgb(225, 229, 235);

  --gray: rgba(62, 66, 75, 0.761);

  --gray1: rgb(62, 66, 75);

  --gray2: rgb(40, 42, 47);

  --gray3: rgb(30, 31, 36);

  --gray4: rgb(26, 27, 28);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.App img {
  height: 30%;
  object-fit: cover;
  width: 50%;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}
